footer
  .container
    .row
      .col-md-4
        h4 Abeprogramador
        p Scraper de datos web desarrollado por Abrahan Codero. Sígueme en Instagram: 
        a(href='https://www.instagram.com/abprogramador/', target='_blank') @abeprogramador
      .col-md-4

      .col-md-4
        h4 Contáctame
        p Puedes encontrarme en Instagram para obtener más información y actualizaciones.
        a(href='https://www.instagram.com/abprogramador/', target='_blank') @abeprogramador
  
  script(src="/js/js.js") 

