header
  .container
    //img(src='https://lh3.googleusercontent.com/a/AEdFTp7k6dfGZJwhKhjoDpZWCk0GDuc0j5adG_-vOEug=s96-c', alt='Logo de Abeprogramador', class='logo rounded-circle')
    //h1 Abprogramador Scraper
    p Scraper de datos web desarrollado por Abrahan Codero

